﻿@{
	ViewBag.Title = "Employees Viewer";
}

		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<h2>@ViewBag.Title</h2>

				<div class="panel panel-info">
					<div class="panel-heading">
						<form class="navbar-form" role="search" id="searcher">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-primary">Get Employees &raquo;</button>

							<em class="label label-warning glyphicon glyphicon-refresh progress-indicator pull-right"></em>
						</form>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead><tr><th>ID</th></tr></thead>
							<tbody>
								<tr>
									<td>##</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

@section Scripts {
	<script>
		$(function ($) {

			var btnSend = $("form#searcher").trigger('wait');

			btnSend.on('submit', function (evt) {
				var self = $(this).trigger('wait');
				evt.preventDefault();
				var searchFor = self.find('input').first().val();

				searchFor = parseInt('0' + searchFor, 10);

				$.ajax({
					url: "api/Employees/Get",
					type: 'GET',
					data: { id: searchFor > 0 ? searchFor : null },
					success: function (response) {
						console.log("Worked!", arguments);
						if (response && response.success && response.payload) {
							console.log("Data", response.payload)
						}
					},
					complete: function (x, statusText) {
							self.trigger('wait');
					},
					error: function (x, statusText) {
						console.error("Sorry, there was an error.", arguments);
					}
				});
			})
			.on('wait', function (evt) {
				var self = $(this);
				var isBusy = !(self.data('busy') || false);

				var submit = self.find(':submit').attr('disabled', isBusy);
				var indicator = self.find('.progress-indicator');
				indicator[isBusy ? 'show' : 'hide']();
				self.data('busy', isBusy);
			});
		})
	</script>
}
